/*
	Reset Selector - don't remove this!
*/
/* Google Fonts*/
@inport url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=roboto');

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/


a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: Tangerine, sans-serif;
	font-size: medium;
	line-height: 2rem;
	margin: 20px;
}

code {
	font-family: roboto, monospace;	
}

h1, h2, h3 {
	font-family: 'Courier New', Courier, monospace;
	line-height: 1rem;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: .8em;
}

h2 {
	font-size: 1.6rem;
	margin-bottom: .2em;
}

h3 {
	font-size: 1.4rem;
	margin-bottom: .2em;	
}

header {
	padding: 15px;
	background-color: darkgreen;
	color: white;
	text-align: center;
	margin-bottom: 15px;
}

main {
	padding: auto;
}

p {
	margin-bottom: 2em;
	max-width: 80ch;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}